<div>
    <h2 style=color:black>Interpolation concept</h2>
    <h2>Welcome {{ name }}</h2>
    <h2>{{ 2 + 2 }}</h2>
    <h2>{{ 'Welcome ' + name }}</h2>
    <h2>{{ name.length }}</h2>
    <h2>{{ name.toUpperCase() }}</h2>
    <h2>{{ greetUser() }}</h2>
    <h2>{{ siteUrl }}</h2>

    <h2 style=color:black>Property Binding</h2>
    <input [id]="myId" type="text" value="Rajeev">
    <input [disabled]="true" id="{{myId}}" type="text" value="Rajeev">

</div>

<h2 style=color:black>Class Binding</h2>
<h2 class="text-success">test success</h2>
<h2 [class]="successClass">test success</h2>
<h2 class="text-special" [class]="successClass">test success + italic</h2>
<h2 [class.text-danger]="hasError">test danger</h2>
<h2 [ngClass]="messageClasses">ng Class directives</h2>

<h2 style=color:black>Style Binding</h2>
<h2 [style.color]="hasError?'green':'red'">Style Binding</h2>
<h2 [style.color]="highlightColor">Style Binding</h2>
<h2 [ngStyle]="titleStyles">Style Binding</h2>