<div>
    <h2 style=color:black>Interpolation concept</h2>
    <h2>Welcome {{ name }}</h2>
    <h2>{{ 2 + 2 }}</h2>
    <h2>{{ 'Welcome ' + name }}</h2>
    <h2>{{ name.length }}</h2>
    <h2>{{ name.toUpperCase() }}</h2>
    <h2>{{ greetUser() }}</h2>
    <h2>{{ siteUrl }}</h2>
    =======================================
    <h2 style=color:black>Property Binding</h2>
    <input [id]="myId" type="text" value="Rajeev">
    <input [disabled]="true" id="{{myId}}" type="text" value="Rajeev">
    <br>=======================================
</div>

<span>
  <h2 style=color:black>Class Binding</h2>
  <h2 class="text-success">test success</h2>
  <h2 [class]="successClass">test success</h2>
  <h2 class="text-special" [class]="successClass">test success + italic</h2>
  <h2 [class.text-danger]="hasError">test danger</h2>
  <h2 [ngClass]="messageClasses">ng Class directives</h2>
  =======================================

  <h2 style=color:black>Style Binding</h2>
  <h2 [style.color]="hasError?'green':'red'">Style Binding</h2>
  <h2 [style.color]="highlightColor">Style Binding</h2>
  <h2 [ngStyle]="titleStyles">Style Binding</h2>
  =======================================

  <h2 style=color:black>Event Binding</h2>
  <button (click)="onClick($event)">Greet</button>
  <button (click)="greeting= 'Welcome Rajeev'">Greet two</button>
  {{greeting}}
  <br>=======================================

  <h2 style=color:black>Template Variable Reference</h2>
  <input #myInput type="text">
  <button (click)="logMessage(myInput.value)">Log</button>
  <br>=======================================

  <h2 style=color:black>Two way binding</h2>
  <input [(ngModel)]="userName" type="text">
  {{userName}}
  <br>=======================================

  <h2 style=color:black>Structral Directives</h2>\
  <h2 style=color:black>ngIf Directives</h2>
  <h1 *ngIf="displayName; else elseBlock">CodeEvolution</h1>
  <ng-template #elseBlock>
    <h1>Name is Hidden</h1>
  </ng-template>

  <div *ngIf="displayName; then thenBlock; else elseBlock2"></div>
  <ng-template #thenBlock>
    <h2>thenBlock</h2>
  </ng-template>
  <ng-template #elseBlock2>
    <h2>elseBlock2</h2>
  </ng-template>

  <h2 style=color:green>ngSwitch Directives</h2>
  <div [ngSwitch]="color">
    <div *ngSwitchCase="'red'">You picked red color</div>
    <div *ngSwitchCase="'green'">You picked green color</div>
    <div *ngSwitchCase="'orange'">You picked Orange color</div>
    <div *ngSwitchDefault>Pick again</div>
  </div>

  <h2 style=color:green>ngFor Directives</h2>
  <div *ngFor="let color of colors; index as i; first as f; last as l; odd as o; even as e">
    <h2>{{i}} {{f}} {{l}} {{o}} {{e}} {{color}}</h2>
  </div>
  <br>=======================================

  <h2 style=color:black>Parent to child (component)</h2>
  <h2>{{"Hello "+ parentName}}</h2>

  <h2 style=color:black>Child to parent (component)</h2>
  <button (click)="fireEvent()">send data</button>
</span>